main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.upper_section{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.total_score h1{
    font-size: 80px;
    font-weight: 600;
    margin: 0px;
    justify-content: center;
    align-items: center;
    padding-left: 35px;
}
.alert{
    padding-right: 20px;
    display: flex;
    justify-content: end;
    color: red;
}
.numbers{
    gap: 20px;
    display: flex;
    padding: 20px;
}
.Number_Selected{
    background-color: black;
    color:  white;
    border: 1px solid black;
    border-radius: 2px;
   padding: 10px 15px 10px 15px;
   font-size: 20px;
   font-weight: 600;
}
.Number_btn{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 2px;
   padding: 10px 15px 10px 15px;

   font-size: 20px;
   font-weight: 600;
}
.text{
    display: flex;
    padding-right: 20px;
    justify-content: end;
    font-size: 10px;
}
.text h1{
    font-weight: 900;
}
.botton_section{
    gap: 20px;
    margin-top: -80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.diceImg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.dice_img_setting{
    width: 200px;
}
.diceText{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Rest_btn{
    display:flex;
    justify-content: center;
}
.Bottom_btn{
    max-width: 300px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius   : 5px;
    padding: 10px 40px 10px 40px;
}
.Bottom_btn:hover{
    background-color: black;
    color: white;
}
.ShowResult_btn{
    display: flex;
    justify-content: center;
}
button{
    padding: 10px;
    font-size: 15px;
    max-width: 400px;
}   
.Rule_Text h1{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 0px;
    text-decoration: underline;
}
.Rule_Text{
    background-color: #FBF1F1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 700px;   
    margin: 0px auto;
}